network:
    ethernets:
        enp0s8:
{% if dns_role == "master" %}
            addresses: [192.168.100.102/24]
{% elif dns_role == "slave" %}
            addresses: [192.168.100.103/24]
{% else %}
            addresses: [192.168.100.101/24]
{% endif %}
            dhcp4: true
    version: 2
