[Unit]
Description=Prometheus MySQL Exporter

[Service]
User={{ mysql_exp_user }}
Environment="DATA_SOURCE_NAME={{ mysql_exp_user }}:{{ password }}@tcp(127.0.0.1:3306)/"
ExecStart=/opt/mysql_exporter/mysqld_exporter 

[Install]
WantedBy=multi-user.target
